.App {
  font-family: sans-serif;
  text-align: center;
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial, sans-serif;
}

li {
  float: left;
  color: black;
}

.submenu {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 9px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 40px;
}

.submenu:hover:not(.active) {
  font-weight: bold;
  cursor: pointer;
}

.active:hover {
  background-color: black;
  border-radius: 20px;
  color: white;
  height: auto;
  cursor: pointer;
}

.active {
  margin-left: 10px;
  margin-top: 12px;
  font-size: 18px;
  padding: 3px 10px;
  height: max-content;
  float: right;
  margin-right: 40px;
}

.logo {
  margin-top: 8px;
  margin-right: 30px;
  font-family: georgia, serif;
  font-weight: bolder;
  font-size: 25px;
  margin-left: 100px;
  cursor:pointer;
}

.divider {
  height: 2px;
  background-color: gray;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 243, 235);
  text-align: left;
}

.heading {
  margin-top: 150px;
  font-size: 50px;
  margin-left: 100px;
}
.description {
  display: flex;
  color: gray;
  font-size: 18px;
  margin-left: 100px;
  margin-top: 10px;
}
.invest {
  background-color: black;
  border-radius: 20px;
  color: white;
  width: 100px;
  height: auto;
  font-size: 17px;
  cursor: pointer;
  margin-left: 100px;
}

.illustration{
  margin-top: -409px;
  margin-left: 870px;
  float: right;
  width: 650px;
  height: 682px;
}

@media only screen and (max-width: 700px){
  ul{
    padding: 34px;
    width:1200px;
  }
  .submenu{
    font-size: 25px;
  }
  .active{
    font-size: 25px;
  }
  .logo{
    font-size: 35px;
  }
  .divider{
    width: 1266px;
    height: 4px;
    margin-left:0px;
  }
  .main{
    width:fit-content;
  }
  .illustration{
    margin-left: 616px;
  }
  .description{
    font-size:23px;
  }
  .invest{
    font-size: 28px;
    width: 200px;
  }
}